.handy-clamp {
    position: relative;

    &__text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;

        &_cursor_pointer {
            cursor: pointer;
        }
    }
}
